.news{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding-bottom: 30px;
    grid-gap: 30px;
}



@media (max-width: 995px){
    .news{
        grid-template-columns: 2fr 3fr;
    }
}

@media (max-width: 630px)
{
    .news {
        grid-template-columns: 1fr;
        padding: 0px 30px 30px;
    }
    article.news:before {
        content: "";
        position: absolute;
        top: -20px;
        height: 1px;
        width: 100%;
        background: #ffffff73;
    }
}