

/**************************************
Partners Carousel styles
**************************************/
.images-container {
    width: 100%;

}

.images-container img {
    display: block;
    float: left;
    width: 25%;
}


.partner-image {
    width: 90%;
    overflow: hidden;
    background: #5e721c;
    padding: 20px 10px;
    /*margin-left: 10px;*/
    border: 2px solid #8989c0;
    border-radius: 10%;
    height: 30vh;


}

.partner-image img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
}

.partner-image img:hover {
    transform: scale(1.07);
    opacity: 1;
}

