.youplay-box{
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 180px;
}
.youplay-box h2{
    font-size: 50px;
    margin-top: 6rem;
    margin-bottom: 4rem;
    font-family: lato,sans-serif;
    color: #fff;
    line-height: 55px;
    font-weight: 500;
}


@media (max-width: 630px){
    .youplay-box{
        justify-content: center;
    }
}