.start-page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.start-page__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-page__btn button{
    padding: 10px 20px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 10px;
    cursor: pointer;
}