body {
    font-family: Lato,sans-serif;
    font-size: 14px;
    letter-spacing: .06em;
    line-height: 20px;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 26px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
}

.img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: -100;
    pointer-events: none;
}

.img {
    object-fit: cover;
    object-position: 50% 50%;
    max-width: none;
    position: fixed;
    top: 0px;
    left: 59.7px;
    overflow: hidden;
    pointer-events: none;

}

.layer {
    background-color: rgba(22,9,98, 0.5);
    position: absolute;
    left: 60px;
    width: 1400px;
    height: 100%;
}

h1 {
    color: #fff;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    margin: 0 0 15px;
    font-weight: 500;
    word-wrap: break-word;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    padding-bottom: 25px;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
