
label{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font: 14px/1.42857 "Lato",sans-serif;
}

.lostPwd {
    margin-top: 12px;
}

.lostPwd__link {
    text-decoration: none;
    color: white;
    margin-inline-end: 1em;
}

.lostPwd__link:hover {
    text-decoration: underline;
}

.login-form-inp{
    width: 260px;
    height: 40px;
    background-color: rgba(68, 41, 125, 0.1);
    border: 2px solid white;
    transform:skew(-7deg);
    color: white;
}

.login-form-checkbox {
	width: 15px;
	height: 15px;
	transform: skew(-7deg);
	margin-right: 5px;
	background-color: rgba(68, 41, 125, 0.2);
}

.checkbox {
    padding: 5px 0 5px 0;
}

.checkbox label,input {
    display: inline-block;
    vertical-align: middle;
}

.navbar-login-form, .navbar-signup-form {
    color: #fff;
    letter-spacing: .06em;
    line-height: 20px;
    text-align: left;
    background: rgba(8,3,37,.8);
    padding: 15px;
}

.gender_container {
    display: flex;
    border: 2px solid white;
	 justify-content: space-around;
	 align-items: center;
	 vertical-align: middle;
}

.male_container label, input {
    padding-left: 15px;
    display: inline-block;
    vertical-align: middle;
}
.female_container label, input {
    padding-left: 25px;
    display: inline-block;
    vertical-align: middle;
}

.control-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 10px;
}

.control-section > * {
	font-size: 12px;
	margin: 0;
}

.gender_container span, .control-section span {
	vertical-align: bottom;
}

.gender_container input[type="radio"], .control-section input[type="radio"] {
	margin: 3px;
	margin-top: 0;
}

.after-sign-form {
    color: #fff;
    letter-spacing: .06em;
    line-height: 20px;
    background: rgba(8,3,37,.8);
    padding: 20px 25px;
}

.form-control-section {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    white-space: nowrap;
}
