.slider{
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    font-family: Lato,sans-serif;
    font-size: 14px;
    letter-spacing: .06em;
    line-height: 20px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    background: #080325;
    background: rgba(8,3,37,.9);
    cursor: pointer;
}
.slider:active{
    cursor: grabbing;
}
.slider__show{
    touch-action: pan-y;
    cursor: -webkit-grab;
    cursor: grab;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: max-content;
}
.slider__wrapper{
    left: 0px;
    transform: translateX(0%);
    /* position: absolute; */
    width: 100%;
    height: 100%;
}